<div class="modal-auth">
  <form id="login" class="auth" [formGroup]="loginForm">
    <fieldset class="clearfix">
      <p><span class="fontawesome-user"></span><input formControlName="username" type="text" placeholder="Username" required></p>
      <p><span class="fontawesome-lock"></span><input formControlName="password" type="password" placeholder="Password" required></p>
      <p><input type="submit" value="SIGN IN" (click)="onSubmit()"></p>
    </fieldset>
  </form>
  <p>No account? &nbsp;&nbsp;<a routerLink="/register">Sign Up<span class="fontawesome-arrow-right"></span></a></p>
</div>
