.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
}

.sidebar-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 48px;
  margin-top: 12px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  padding-top: 1px;
}

.sidebar-footer:not(:empty) {
  border-top: 1px solid #eaeaea;
}
